<!doctype html>
<html lang="en">


  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
  </head>


  <body>
    <section id="showcase">
      <div class="container">
        <h1>Professional Software Developer</h1>
        <p>Experienced in Web, Java, & Python development.</p>
      </div>
    </section>

    <section id="links">
      <div class="card-deck">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/WordPress-logotype-alternative.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Development Blog</h5>
            <p class="card-text">Get some behind the scenes information about development status and progress.</p>
            <a href="https://tojohnny.wordpress.com/" class="btn btn-primary">Read more</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="assets/images/github_PNG20.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Source Code</h5>
            <p class="card-text">Take a peek at the code!</p>
            <a href="https://github.com/tojohnny/the-irresoluteduck-collection" class="btn btn-primary">Learn more</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="assets/images/LinkedIn_UI-02-512.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">LinkedIn</h5>
            <p class="card-text">Learn more about my professional background.</p>
            <a href="linkedin.com/in/tojohnny" class="btn btn-primary">Connect</a>
          </div>
        </div>
      </div>
    </section>
  </body>


</html>
