<div class="jumbotron">
  <h1 class="display-4">Welcome to the Collection</h1>
  <p class="lead">This website is designed to let me continuously improve my skills and let you explore more about me.</p>
  <hr class="my-4">
  <p>Site is still pretty empty so don't expect much! Find out more in the development blog.</p>
  <a class="btn btn-primary btn-lg" href="https://tojohnny.wordpress.com" role="button">Find out more here.</a>
</div>

<div class="card-deck">

  <div class="card">
    <img src="assets/images/logo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">About Me</h5>
      <p class="card-text">Learn more about who I am, what I do, and my future aspirations.</p>
      <a class="btn btn-primary" [routerLink]="['/about-me']">Learn more</a>
    </div>
  </div>

  <div class="card">
    <img src="assets/images/logo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Portfolio</h5>
      <p class="card-text">Browse through my past works.</p>
      <a class="btn btn-primary" [routerLink]="['/portfolio']">Browse</a>
    </div>
  </div>

  <div class="card">
    <img src="assets/images/logo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Resume</h5>
      <p class="card-text">Straight to the point. What's there more to say?</p>
      <a class="btn btn-primary" [routerLink]="['/resume']">View PDF</a>
    </div>
  </div>

  <div class="card">
    <img src="assets/images/logo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Contact</h5>
      <p class="card-text">Want to know more? Get in touch.</p>
      <a class="btn btn-primary" [routerLink]="['/contact']">Contact</a>
    </div>
  </div>

</div>
